html,
body {
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.Title {
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
	font-size: 48px;
	line-height: 60px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.Subtitle1 {
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 24px;
}

.Body1 {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

.Subtitle2 {
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
}

.Body2 {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
}

.Overline {
	font-family: 'Noto Sans', sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
}

#main {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 86px;
}

#playlist-info {
	display: flex;
	flex-direction: row;
	margin-bottom: 48px;
}

#img-2098157264 {
	height: 250px;
	width: 250px;
	margin-top: 86px;
	margin-right: 32px;
}

#info-text {
	display: grid;
	align-self: flex-end;
}

.son-title-and-artist {
	margin-left: 16px;
	margin-bottom: 32px;
}

#player {
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items:center;
	border-top: 1px solid #E5E7EB;
	width: 100%;
	height: 80px;
}

#listening-song {
	display: flex;
	flex-direction: row;
	align-items: center;
	left: 0;
	height: 100%;
}

#img-242430582 {
	margin-right: 16px;
	height: 100%;
}

.listening-song-spacing {
	align-self: center;
}

#changing-song {
	position: absolute;
	align-self: center;
	display: flex;
	justify-content: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#song-before {
	height:40px;
	width: 40px;
}

#play-pause {
	height:40px;
	width: 40px;
	margin-left: 32px;
	margin-right: 32px;
}

#song-after {
	height:40px;
	width: 40px;
}

#deezer-info {
	display: flex;
	flex-direction: column;
	left: 0;
	margin-right: 16px;
}

#img-deezer {
	height: 30px;
}

#queue {
	width: 330px;
	height: calc(100% - 80px);
	display: flex;
	align-items:center;
	justify-content:center;
	position: fixed;
	right: 0;
	top: 0;
	background-color: #F3F4F6;
}

#play-next-text {
	position: absolute;
	top: 32px;
	left: 32px;
}

#queue-text-color {
	color: #9CA3AF;
}
